services:
  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - 3000:3000
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    ports:
      - 3333:3333
